* {
  font-family: 'Noto Sans', sans-serif;
}

.center {
  text-align: center;
}

img {
  size = 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 28px;
}

.important_img {
  height: 300px;

  background: url('./b.jpg') center no-repeat;
}

.link {
  color: darkgreen;
  text-decoration: none;
  font-weight: bold;
}

span {
  font-weight: bold;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.magenta {
  color: magenta;
}

.grey {
  color: grey;
}

.block {
  padding: 10px;
}

.code {
  background: lightblue;
}

.console {
  background: black;
  color: white;
}

.docs {
  background: lightgray;
}
